<!DOCTYPE html>
<html ng-app="userApp">
<head>
    <meta charset="UTF-8">
    <title>ProductCrud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"  media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/common.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="controllers/mainController.js"></script>
   </head>

<body id="home" ng-controller="userCtrl" data-ng-init="init(1)">
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse" style="box-shadow: 0px 1px 5px #222222;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Connection</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="appNavBar">
            <ul class="nav navbar-nav">
                <li class="active" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#myAcount"><span class="glyphicon glyphicon-user"></span>  My Account</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Search.." ng-model="userSearch">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="row">
        <!-- Lef side Area -->
        <div class="col-sm-3 well slideanim slide">
            <div class="well">
                <h2>{{product.name}}</h2>
                <img src="data:image/jpg;base64,{{ imgsource }}" class="img-circle" height="220" width="220" alt="Avatar" />
                <br><br>
                <div>
                    <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-backdrop="static" data-target="#uploadModal">
                        <span class="glyphicon glyphicon-camera"></span>
                    </button>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal" ng-click="edit(expert._id)"><strong>Edit Profile</strong></button>
                </div>
            </div>
            <br>


        </div>
        <!-- Center Area -->
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3 slideanim slide">
                    <div style="background:#fff; padding-top:2px">
                        <h4>PRODUCT RATING</h4>
                        <table class="table">
                            <tr>
                                <button type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                </button>
                            </tr>
                            <tr>
                                <h4>{{product.rating}}</h4>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-3 slideanim slide">
                    <div style="background:#fff; padding-top:2px">
                        <h4>POPULARITY</h4>
                        <table class="table">
                            <tr>
                                <button type="button" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-user"></span>
                                </button>
                            </tr>
                            <tr>
                                <h4>{{product.popularity}}</h4>
                            </tr>
                        </table>
                    </div>
                </div>



            </div>
            <!-- Start of User Ratings Progress Bar-->
            <div class="well slideanim slide">
                <p><a href="#"><strong>Rating Chart</strong></a></p>
                <p>
                    <span class="label label-success">5 Star</span>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': expert.skills.java*10 + '%'}">
                        {{ expert.skills.java*10 + "%"}}
                    </div>
                </div>
                <p><span class="label label-primary">4 Star</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': expert.skills.cpp*10 + '%'}">
                        {{expert.skills.cpp*10 + '%'}}
                    </div>
                </div>
                <p><span class="label label-default">3 Star</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': expert.skills.eclipse*10 + '%'}">
                        {{expert.skills.eclipse*10 + '%'}}
                    </div>
                </div>
                <p><span class="label label-info">2 Star</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': expert.skills.linux*10 + '%'}">
                        {{expert.skills.linux*10 + '%'}}
                    </div>
                </div>
                <p><span class="label label-warning">1 Star</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" ng-style="{'width': expert.skills.python*10 + '%'}">
                        {{expert.skills.python*10 + '%'}}
                    </div>
                </div>

                </p>
            </div>
            <!-- End of User Skills Progress Bar-->


        </div>
        <div class="col-sm-2 well slideanim slide">
            <div class="thumbnail">
                <p><strong>Review</strong></p>
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-barcode"></span>
                </button>
                <div>
                    <span><strong>{{product.review}}</strong></span>
                </div>
                <!--
                      <p>
                          <button class="btn btn-warning" data-toggle="modal" data-target="#CertificateModal" ng-click="edit(expert._id)">Edit Certification</button>
                      </p>
                -->
            </div>
        </div>
    </div>
</div>

<!-- Update Model -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Profile</h4>
            </div>
            <form class="form-update">
                <div class="modal-body">
                    <label>Full Name :</label>
                    <input type="text" class="form-control" name="name" ng-model="expert.name"  required autofocus> <!-- ng-readonly="true"-->
                    <!-- <label>Skills :</label>
                     <input type="text" class="form-control" ng-model="expert.skills">-->
                    <label>Experience :</label>
                    <input type="text" class="form-control" ng-model="expert.experience">
                    <label>Email ID :</label>
                    <input type="text" class="form-control" ng-model="expert.emailid">
                    <label>Mobile Number :</label>
                    <input type="text" class="form-control" ng-model="expert.mobilenumber">
                    <label>Current Project :</label>
                    <input type="text" class="form-control" ng-model="expert.currentproject">
                    <label>Profile :</label>
                    <input type="text" class="form-control" ng-model="expert.profile">
                    <label>Role :</label>
                    <input type="text" class="form-control" ng-model="expert.role">
                    <label>Awards :</label>
                    <input type="text" class="form-control" ng-model="expert.awards">
                    <label>Certificates :</label>
                    <input type="text" class="form-control" ng-model="expert.certification">
                    <label>Test Framework :</label>
                    <input type="text" class="form-control" ng-model="expert.testframework">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary" type="submit" ng-click="updateProfile()" data-dismiss="modal">Submit </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal -->

<!-- upload image Model -->
<div id="uploadModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Profile Picture</h4>
            </div>
            <form ref='uploadForm'
                  id='uploadForm'
                  action='http://localhost:3222/upload'
                  method='post'
                  encType="multipart/form-data" >
                <div class="modal-body">
                    <input type="hidden" name="pid" value="{{expert._id}}" />
                    <label class="btn btn-default btn-file">
                        Browse Profile Picture<input type="file" name="sampleFile" style="display: none;"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary" type="submit">Upload</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End upload end modal -->

<!-- Update Skill Chart-->
<div id="SkillModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Skills : Rate YourSelf OutOff 10</h4>
            </div>
            <form class="form-update">
                <div class="modal-body">
                    <label>Java :</label>
                    <input type="text" class="form-control" ng-model="expert.skills.java" required autofocus>
                    <label>C++ :</label>
                    <input type="text" class="form-control" ng-model="expert.skills.cpp">
                    <label>Linux/Shell :</label>
                    <input type="text" class="form-control" ng-model="expert.skills.linux">
                    <label>Python :</label>
                    <input type="text" class="form-control" ng-model="expert.skills.python">
                    <label>Eclipse</label>
                    <input type="text" class="form-control" ng-model="expert.skills.eclipse">
                    <label>Angular JS</label>
                    <input type="text" class="form-control" ng-model="expert.skills.angularjs">
                    <label>Node JS</label>
                    <input type="text" class="form-control" ng-model="expert.skills.nodejs">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary" type="submit" ng-click="updateSkill()" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal of Skill Chart-->
<!-- Modal Edit Certification-->
<div id="CertificateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Certification</h4>
            </div>
            <form class="form-update">
                <div class="modal-body" ng-repeat="certificate in expert.certification">
                    <label>Name :</label>
                    <input type="text" class="form-control" name="name" ng-model="certificate.name"  required autofocus> <!-- ng-readonly="true"-->

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary" type="submit" ng-click="updateCertificates()" data-dismiss="modal">Submit </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal Certification -->

</body>
</html>